[Desktop Entry]
Encoding=UTF-8
Name=CHN
Comment=CHN P2P Cryptocurrency
Exec=chronon-qt %u
Terminal=false
Type=Application
Icon=chronon128
MimeType=x-scheme-handler/chronon;
Categories=Office;Finance;
Name[en_US]=chronon-qt.desktop
